
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --flatBrown: #825a2c;
  --screenSize: 500px;
  --grey: #95a5a6;
  --activeGrey: #7f8c8d;
}

body {
  background-color: var(--flatBrown);
  font-family: 'Roboto', sans-serif;
}

#result-display {
    display: none;
}

#result {
    font-weight: bold;
}